.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.username-container {
  display: flex;
  align-items: flex-start;
}
.logo-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-right: 12px;
}
.user-logo {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: 'roboto';
}
.username {
  font-size: 20px;
  font-weight: 600;
  font-family: 'roboto';
  color: #334155;
  margin: 0px;
}
.time {
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-left: 16px;
  color: #94a3b8;
}
.comment {
  font-size: 16px;
  font-family: 'roboto';
  color: #64748b;
  padding: 0px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}
.like {
  font-size: 14px;
  font-family: 'roboto';
}
.like-image {
  margin-right: 6px;
}
.liked {
  color: #0ea5e9;
}
